<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Painel de Consultas</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
</head>
<body>
	<!-- partial:index.partial.html -->
	<div class="container">
	  <h3>Consulta de Dados</h3>
	  <button type='button' class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Consulta CPF 1</button>  
	  <div class="modal fade" id="popUpWindow">
		<div class="modal-dialog">
		  <div class="modal-content">
			<!-- header -->
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h3 class="modal-title">CPF BASE RECEITA</h3>
			</div>
			<!-- body -->
			<div class="modal-header">
			  <form role="form">
				<div class="form-group">
				  <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF"/>
				</div>
			  </form>
			</div>
			<!-- footer -->
			<div class="modal-footer">
			  <button onclick="consultarCPF()" class="btn btn-primary btn-block">CONSULTAR</button>
			</div>
			<div id="resultado">
			  <span id="semResultado" style="display:none;">Nenhum resultado encontrado</span>
			</div>        
		  </div>
		</div>
	  </div>  
	</div>
	<!-- partial -->
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script>
	  function consultarCPF() {
		const inputCPF = document.getElementById('cpf').value;
		fetch(`https://apiconsulta-master-production.up.railway.app/api/cpf/${inputCPF}`)
		  .then(response => response.json())
		  .then(data => {
			if (!data.nome || !data.cpf) {
			  // Se não houver dados, mostre o elemento "semResultado" e oculte o resultado anterior
			  document.getElementById('resultado').innerHTML = '';
			  document.getElementById('semResultado').style.display = 'block';
			} else {
			  // Se houver dados, mostre o resultado e oculte o elemento "semResultado"
			  const resultado = `Nome: ${data.nome} <br> CPF: ${data.cpf} <br> NASCIMENTO: ${data.dataNascimento} <br> MAE: ${data.nomeMae} <BR> PAI: ${data.nomePai} <br> SITUAÇÃO: ${data.situacaoCadastral} <br> ENDEREÇO: ${data.endereco} CASA: ${data.numero} COMPLEMENTO: ${data.complemento} BAIRRO: ${data.bairro} CIDADE: ${data.municipio} UF: ${data.uf} CEP: ${data.cep} <br> TELEFONE: ${data.ddd} ${data.telefone} <br> DATA ALTERAÇÃO DOC: ${data.dataAlteracaoOrigem}`;
			  document.getElementById('resultado').innerHTML = resultado;
			  document.getElementById('semResultado').style.display = 'none';
			}
			// Ajuste o tamanho do modal com base no tamanho do conteúdo do resultado
			$('#popUpWindow').on('shown.bs.modal', function () {
			  $(this).find('.modal-content').height($(this).find('#resultado').height());
			});
		  })
		  .catch(error => {
			console.error('Erro:', error);
		  });
	  }
	</script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</body>
</html>
